@charset "UTF-8";
@font-face {
  font-family: "BYUI Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTQzyDMXhdD8sAj6OAJTFsBI.woff2) format("woff2");
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRsxEYwM7FgeyaSgU71cLG0.woff) format("woff");
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTcDdSZkkecOE1hvV7ZHvhyU.ttf) format("truetype");
}
@font-face {
  font-family: "BYUI Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/TCmDhmS1RRL7aqhqZW19hwLUuEpTyoUstqEm5AMlJo4.woff2) format("woff2");
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/uYKcPVoh6c5R0NpdEY5A-Q.woff) format("woff");
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/yYRnAC2KygoXnEC8IdU0gQLUuEpTyoUstqEm5AMlJo4.ttf) format("truetype");
}
@font-face {
  font-family: "icomoon";
  src: url("icomoon.eot?z9anye#iefix") format("embedded-opentype"), url("icomoon.ttf?z9anye") format("truetype"), url("icomoon.woff?z9anye") format("woff"), url("icomoon.svg?z9anye#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-location:before {
  content: "";
}

.icon-byui-logo:before {
  content: "";
}

.icon-search:before {
  content: "";
}

.icon-audience:before {
  content: "";
}

.icon-menu:before {
  content: "";
}

.icon-address-book:before {
  content: "";
}

.icon-align-center:before {
  content: "";
}

.icon-align-left:before {
  content: "";
}

.icon-align-middle:before {
  content: "";
}

.icon-align-offset:before {
  content: "";
}

.icon-align-right:before {
  content: "";
}

.icon-angle-down:before {
  content: "";
}

.icon-angle-left:before {
  content: "";
}

.icon-angle-right:before {
  content: "";
}

.icon-angle-up:before {
  content: "";
}

.icon-aperture:before {
  content: "";
}

.icon-archive:before {
  content: "";
}

.icon-at:before {
  content: "";
}

.icon-award:before {
  content: "";
}

.icon-backspace:before {
  content: "";
}

.icon-bar-graph:before {
  content: "";
}

.icon-basket:before {
  content: "";
}

.icon-battery-empty:before {
  content: "";
}

.icon-battery-full:before {
  content: "";
}

.icon-beaker:before {
  content: "";
}

.icon-bell:before {
  content: "";
}

.icon-bluetooth:before {
  content: "";
}

.icon-bold:before {
  content: "";
}

.icon-bolt-arrow:before {
  content: "";
}

.icon-bolt:before {
  content: "";
}

.icon-book-open:before {
  content: "";
}

.icon-book:before {
  content: "";
}

.icon-books:before {
  content: "";
}

.icon-box:before {
  content: "";
}

.icon-briefcase:before {
  content: "";
}

.icon-browser:before {
  content: "";
}

.icon-bug:before {
  content: "";
}

.icon-bullet-list:before {
  content: "";
}

.icon-calendar:before {
  content: "";
}

.icon-camera:before {
  content: "";
}

.icon-cart:before {
  content: "";
}

.icon-cc:before {
  content: "";
}

.icon-chart:before {
  content: "";
}

.icon-chat:before {
  content: "";
}

.icon-checked:before {
  content: "";
}

.icon-circle-angle-down:before {
  content: "";
}

.icon-circle-angle-left:before {
  content: "";
}

.icon-circle-angle-right:before {
  content: "";
}

.icon-circle-angle-up:before {
  content: "";
}

.icon-circle-arrow-down:before {
  content: "";
}

.icon-circle-arrow-left:before {
  content: "";
}

.icon-circle-arrow-right:before {
  content: "";
}

.icon-circle-arrow-up:before {
  content: "";
}

.icon-circle-triangle-down:before {
  content: "";
}

.icon-circle-triangle-left:before {
  content: "";
}

.icon-circle-triangle-right:before {
  content: "";
}

.icon-circle-triangle-up:before {
  content: "";
}

.icon-circulate:before {
  content: "";
}

.icon-clipboard:before {
  content: "";
}

.icon-clock:before {
  content: "";
}

.icon-cloud:before {
  content: "";
}

.icon-cloudy:before {
  content: "";
}

.icon-code:before {
  content: "";
}

.icon-cog:before {
  content: "";
}

.icon-command:before {
  content: "";
}

.icon-compass:before {
  content: "";
}

.icon-contrast:before {
  content: "";
}

.icon-credit-card:before {
  content: "";
}

.icon-crop:before {
  content: "";
}

.icon-cursor:before {
  content: "";
}

.icon-delete:before {
  content: "";
}

.icon-denied:before {
  content: "";
}

.icon-desktop:before {
  content: "";
}

.icon-document:before {
  content: "";
}

.icon-dollar:before {
  content: "";
}

.icon-download:before {
  content: "";
}

.icon-droplet:before {
  content: "";
}

.icon-earth:before {
  content: "";
}

.icon-eject:before {
  content: "";
}

.icon-elevator:before {
  content: "";
}

.icon-ellipsis:before {
  content: "";
}

.icon-enlarge:before {
  content: "";
}

.icon-euro:before {
  content: "";
}

.icon-expand-down:before {
  content: "";
}

.icon-expand-left:before {
  content: "";
}

.icon-expand-right:before {
  content: "";
}

.icon-expand-up:before {
  content: "";
}

.icon-export:before {
  content: "";
}

.icon-eye:before {
  content: "";
}

.icon-eyedropper:before {
  content: "";
}

.icon-facebook-circle:before {
  content: "";
}

.icon-facebook-square:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-feed:before {
  content: "";
}

.icon-file-excel:before {
  content: "";
}

.icon-file-missing:before {
  content: "";
}

.icon-file-pdf:before {
  content: "";
}

.icon-file-word:before {
  content: "";
}

.icon-filepath:before {
  content: "";
}

.icon-files:before {
  content: "";
}

.icon-fire:before {
  content: "";
}

.icon-flag:before {
  content: "";
}

.icon-flashlight:before {
  content: "";
}

.icon-folder:before {
  content: "";
}

.icon-food:before {
  content: "";
}

.icon-fork:before {
  content: "";
}

.icon-forward:before {
  content: "";
}

.icon-google-plus-circle:before {
  content: "";
}

.icon-google-plus-square:before {
  content: "";
}

.icon-google-plus:before {
  content: "";
}

.icon-graduation:before {
  content: "";
}

.icon-grid2:before {
  content: "";
}

.icon-grid3:before {
  content: "";
}

.icon-grid4:before {
  content: "";
}

.icon-group:before {
  content: "";
}

.icon-hand:before {
  content: "";
}

.icon-hashtag:before {
  content: "";
}

.icon-hd:before {
  content: "";
}

.icon-headphones:before {
  content: "";
}

.icon-heart:before {
  content: "";
}

.icon-home:before {
  content: "";
}

.icon-hospital:before {
  content: "";
}

.icon-inbox:before {
  content: "";
}

.icon-infinite:before {
  content: "";
}

.icon-info:before {
  content: "";
}

.icon-instagram-circle:before {
  content: "";
}

.icon-instagram-square:before {
  content: "";
}

.icon-instagram:before {
  content: "";
}

.icon-italic:before {
  content: "";
}

.icon-key:before {
  content: "";
}

.icon-keyboard:before {
  content: "";
}

.icon-layers:before {
  content: "";
}

.icon-layout:before {
  content: "";
}

.icon-left-quote:before {
  content: "";
}

.icon-library:before {
  content: "";
}

.icon-lightbulb:before {
  content: "";
}

.icon-link-broken:before {
  content: "";
}

.icon-link:before {
  content: "";
}

.icon-linkedin-circle:before {
  content: "";
}

.icon-linkedin-square:before {
  content: "";
}

.icon-linkedin:before {
  content: "";
}

.icon-list:before {
  content: "";
}

.icon-lock:before {
  content: "";
}

.icon-magnifying-glass:before {
  content: "";
}

.icon-mail-open:before {
  content: "";
}

.icon-mail:before {
  content: "";
}

.icon-map-pin:before {
  content: "";
}

.icon-map:before {
  content: "";
}

.icon-megaphone:before {
  content: "";
}

.icon-microphone:before {
  content: "";
}

.icon-minus:before {
  content: "";
}

.icon-moon:before {
  content: "";
}

.icon-move-down:before {
  content: "";
}

.icon-move-up:before {
  content: "";
}

.icon-move:before {
  content: "";
}

.icon-movie:before {
  content: "";
}

.icon-music-note:before {
  content: "";
}

.icon-network:before {
  content: "";
}

.icon-new-tab:before {
  content: "";
}

.icon-new-window:before {
  content: "";
}

.icon-office:before {
  content: "";
}

.icon-paintbrush:before {
  content: "";
}

.icon-pause:before {
  content: "";
}

.icon-pencil:before {
  content: "";
}

.icon-phone:before {
  content: "";
}

.icon-picture:before {
  content: "";
}

.icon-pictures:before {
  content: "";
}

.icon-pie-chart:before {
  content: "";
}

.icon-pinterest-circle:before {
  content: "";
}

.icon-pinterest-square:before {
  content: "";
}

.icon-pinterest:before {
  content: "";
}

.icon-play:before {
  content: "";
}

.icon-plus:before {
  content: "";
}

.icon-popup:before {
  content: "";
}

.icon-pound:before {
  content: "";
}

.icon-power:before {
  content: "";
}

.icon-pushpin:before {
  content: "";
}

.icon-puzzle:before {
  content: "";
}

.icon-question-mark:before {
  content: "";
}

.icon-radio-checked:before {
  content: "";
}

.icon-radio-unchecked:before {
  content: "";
}

.icon-rain:before {
  content: "";
}

.icon-read-more:before {
  content: "";
}

.icon-redo:before {
  content: "";
}

.icon-refresh:before {
  content: "";
}

.icon-rewind:before {
  content: "";
}

.icon-right-quote:before {
  content: "";
}

.icon-sharepoint-circle:before {
  content: "";
}

.icon-sharepoint-square:before {
  content: "";
}

.icon-sharepoint:before {
  content: "";
}

.icon-shield:before {
  content: "";
}

.icon-shrink:before {
  content: "";
}

.icon-shuffle:before {
  content: "";
}

.icon-smartphone:before {
  content: "";
}

.icon-sound-off:before {
  content: "";
}

.icon-sound-on:before {
  content: "";
}

.icon-spinner:before {
  content: "";
}

.icon-square-angle-down:before {
  content: "";
}

.icon-square-angle-left:before {
  content: "";
}

.icon-square-angle-right:before {
  content: "";
}

.icon-square-angle-up:before {
  content: "";
}

.icon-star:before {
  content: "";
}

.icon-suitcase:before {
  content: "";
}

.icon-sun:before {
  content: "";
}

.icon-tablet:before {
  content: "";
}

.icon-tag-fill:before {
  content: "";
}

.icon-tag:before {
  content: "";
}

.icon-tags:before {
  content: "";
}

.icon-talk:before {
  content: "";
}

.icon-target:before {
  content: "";
}

.icon-terminal:before {
  content: "";
}

.icon-text:before {
  content: "";
}

.icon-thumbs-down:before {
  content: "";
}

.icon-thumbs-up:before {
  content: "";
}

.icon-timer:before {
  content: "";
}

.icon-trash:before {
  content: "";
}

.icon-triangle-down:before {
  content: "";
}

.icon-triangle-left:before {
  content: "";
}

.icon-triangle-right:before {
  content: "";
}

.icon-triangle-up:before {
  content: "";
}

.icon-trifold:before {
  content: "";
}

.icon-twitter-circle:before {
  content: "";
}

.icon-twitter-square:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

.icon-uhd:before {
  content: "";
}

.icon-underline:before {
  content: "";
}

.icon-undo:before {
  content: "";
}

.icon-unlock:before {
  content: "";
}

.icon-upload:before {
  content: "";
}

.icon-user:before {
  content: "";
}

.icon-vga:before {
  content: "";
}

.icon-video:before {
  content: "";
}

.icon-warning:before {
  content: "";
}

.icon-waves:before {
  content: "";
}

.icon-wrench:before {
  content: "";
}

.icon-x:before {
  content: "";
}

.icon-x1:before {
  content: "";
}

.icon-youtube-circle:before {
  content: "";
}

.icon-youtube-square:before {
  content: "";
}

.icon-youtube-text-circle:before {
  content: "";
}

.icon-youtube-text-square:before {
  content: "";
}

.icon-youtube-text:before {
  content: "";
}

.icon-youtube:before {
  content: "";
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.text-white {
  color: white;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #eaeaea;
  border-bottom: 1px solid #727272;
}
header h2 {
  max-width: 1140px;
  margin: 0 auto;
  font-family: "BYUI Open Sans";
  font-weight: 300;
  font-size: 1.2em;
  text-align: center;
  letter-spacing: 0.005em;
  line-height: 3em;
  color: #525352;
}

.site-banner {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  height: 60px;
  background-color: #0076c6;
}
.site-banner form {
  display: none;
}

.site-banner__left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  color: white;
  background-color: black;
}
.site-banner__left h1 {
  display: none;
}
.site-banner__left a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;
}
.site-banner__left a .icon-byui-logo {
  font-size: 1.88em;
}

.site-banner__right {
  display: flex;
  flex-direction: row;
  padding-right: 1rem;
}
.site-banner__right a {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding-left: 0.9rem;
  text-decoration: none;
}
.site-banner__right a .mobile-header-icon {
  font-size: 2.5em;
}
.site-banner__right a .icon-menu {
  font-size: 2em;
}

main {
  display: grid;
  margin: 0 auto;
  padding: 30px 10px 0 10px;
  max-width: 1140px;
}

.site-feature-image {
  margin-bottom: 40px;
}
.site-feature-image img {
  width: 100%;
}

.site-interest-gallery {
  display: flex;
  flex-direction: column;
}

.image-card {
  margin-bottom: 40px;
  border: 1px solid lightgray;
}
.image-card img {
  width: 100%;
}
.image-card p {
  margin: 0;
  padding: 10px;
  font-family: "BYUI Open Sans";
  font-size: 15px;
  font-weight: 400;
  color: #0076b6;
}

.button {
  margin-bottom: 40px;
  width: 100%;
  padding: 10px 18px;
  display: block;
  font-size: 15px;
  font-family: arial;
  text-transform: uppercase;
  background-color: #efefef;
  border: 1px solid #b4b3b5;
  border-radius: 4px;
  font-weight: bold;
  text-align: left;
}
.button span {
  float: right;
  text-align: right;
}

.site-sidebar__resources {
  margin-bottom: 40px;
  padding: 0;
}
.site-sidebar__resources h3 {
  margin: 0;
  padding: 10px 20px;
  font-family: "BYUI Open Sans";
  font-size: 22px;
  font-weight: 400;
  color: white;
  background-color: #727272;
}
.site-sidebar__resources ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-sidebar__resources ul li {
  margin: 0;
  padding: 8px 20px;
  font-family: "BYUI Open Sans";
  font-size: 15px;
  font-weight: 400;
  color: #0076b6;
  border: 1px solid #b4b3b5;
  border-top: none;
  background-color: #f8f9fa;
}
.site-sidebar__resources ul li:hover {
  background-color: #dfdfdf;
}

.site-sidebar__important-dates {
  margin-bottom: 40px;
}
.site-sidebar__important-dates table {
  width: 100%;
  font-family: "BYUI Open Sans";
}
.site-sidebar__important-dates table thead {
  text-align: left;
  background-color: #0076b6;
}
.site-sidebar__important-dates table tr {
  border: 1px solid black;
}
.site-sidebar__important-dates table th {
  padding: 10px 20px;
  font-family: "BYUI Open Sans";
  font-size: 22px;
  font-weight: 400;
  color: white;
  border-bottom: 1px solid #b4b3b5;
}
.site-sidebar__important-dates table td {
  margin: 0;
  padding: 10px 20px;
  font-size: 13px;
  border-bottom: 1px solid #b4b3b5;
}
.site-sidebar__important-dates table td:first-child {
  color: #020202;
  font-size: 13px;
  font-family: arial;
  font-weight: bold;
}

.site-newsroom .news-item {
  font-family: "BYUI Open Sans";
  margin-bottom: 20px;
  padding: 25px 0;
  border-top: 1px solid #727272;
}
.site-newsroom .news-item figure {
  display: none;
}
.site-newsroom .news-item span {
  margin-bottom: 6px;
  text-transform: uppercase;
  display: block;
  font-family: arial;
  font-size: 11px;
  color: #020202;
  font-weight: bold;
}
.site-newsroom .news-item h4 {
  margin: 17px 0;
  color: #0076b6;
  font-family: "BYUI Open Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.02em;
}
.site-newsroom .news-item p {
  margin: 0;
  font-family: serif;
  color: #464646;
  font-size: 1.1em;
  line-height: 24px;
}

@media (min-width: 48em) {
  header {
    border-bottom: none;
  }
  header h2 {
    font-size: 30px;
    text-align: left;
    padding-left: 10px;
  }

  main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    column-gap: 30px;
  }
  main .site-feature-image {
    grid-column: 1/9;
  }
  main .site-interest-gallery {
    grid-column: 1/9;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
  }
  main .site-sidebar {
    grid-column: 9/13;
    grid-row: 1/5;
  }
  main .site-newsroom {
    grid-column: 1/9;
  }
  main .site-newsroom .news-item figure {
    display: initial;
    display: inline-block;
    width: 165px;
    float: left;
    margin: 0 20px 0px 0;
    padding: 0;
  }
  main .site-newsroom .news-item figure img {
    margin: 0;
    padding: 0;
    width: 165px;
  }
}

/*# sourceMappingURL=styles.css.map */
