@import 'variables';
@import 'node_modules/bootstrap/scss/bootstrap';
$fa-font-path:"../../node_modules/font-awesome/fonts";
@import "node_modules/font-awesome/scss/font-awesome";

// @import 'node_modules/bulma/bulma';
body {
  background-color: $body-bg-color;
}

.jumbotron {
  text-align: center;
  background: none;
}

.sectionLight {
  background-color: #eceeef;
  padding: 2rem;
}

.sectionDark {
  background-color: #cccccc;
  padding: 2rem;
}
