/*** uncss> filename: css/main.css ***/

/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@100;400;900&display=swap'); */

h1,
h2 {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding: 30px 10px 0 20px;
}

#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  padding: 15px;
  background-color: #ebebd3;
  border: 5px solid #083d77;
  border-radius: 100%;
}

#logo img {
  height: 90%;
}

header h1 {
  font-weight: bold;
  font-size: 4em;
  font-family: sans-serif;
  margin-bottom: 5px;
  text-align: center;
}

#url {
  margin-bottom: 30px;
}

#logo-demo {
  height: 200px;
}

nav {
  background-color: #ebebd3;
}

nav ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: flex;
  text-align: center;
  width: 100%;
}

nav ul li a {
  width: 100%;
  padding: 20px;
  color: #083d77;
  text-decoration: none;
}

nav ul li a:hover {
  color: #ebebd3;
  background-color: #083d77;
}

main {
  color: #fff;
}

main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 50px;
}

main section h2 {
  font-size: 5em;
  font-weight: lighter;
  margin-bottom: 50px;
  text-align: center;
}

main section p {
  font-weight: lighter;
  max-width: 700px;
  font-size: 1.2em;
  line-height: 1.7em;
  letter-spacing: 0.05em;
}

main section img {
  font-weight: lighter;
  max-width: 700px;
  font-size: 1.2em;
  line-height: 1.7em;
  letter-spacing: 0.05em;
  border: 1px solid white;
}

main section:nth-of-type(1) {
  color: #000;
  background-color: #f4d35e;
}

main section:nth-of-type(2) {
  background-color: #f78764;
}

main section:nth-of-type(3) {
  background-color: #da4167;
}

main section:nth-of-type(4) {
  background-color: #083d77;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  line-height: 1.7em;
}
