@import 'grid.css'; 

// CARD DIMENSIONS VARIABLES
// =================================
$card-width:  30vw;
$card-height: $card-width * 1.4;
$icon-size:   $card-width / 8;
$font-size:   $card-width * 0.15;

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card {
    height: $card-height;
    width: $card-width;
    margin: 10px;
    border: 1px solid black;
    border-radius: 20px;
}

.card-front {
    padding: 1em;
}

.icon {
    width: $icon-size;
    height: $icon-size;
}

.number {
    text-align: center;
    font-size: $font-size;

    & > .icon {
        width: $icon-size * .5;
        height: $icon-size *.5;
    }

}

.cell {

}

.rotate {
    transform: rotate(180deg);
}